/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
/* Color Pallete) */
--korea-red: #c8102e; 
--korea-red-dark: #a50f1d;
--korea-black: #1a1a1a;
--korea-white: #ffffff;

--korea-blue: #2a4f8f; /* deepblue*/
--korea-blue-light: #6a8dbf;

--korea-green: #0a6a50;
--korea-green-light: #2e9a7d;

--panel-bg: rgba(255, 255, 255, 0.88);
--panel-radius: 10px;
/* Tipografía y fondo neutro para buen contraste si se usa en varios temas */
--text: #1b1b1b;
--bg: #f7f7f7;
/* Sombra suave para consistencia */
--shadow: 0 6px 20px rgba(0,0,0,0.25);
}

html , body {background: var(--bg);
color: var(--text);
height: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", system-ui, sans-serif;
}

/* HEADER */
.site-header {
background-color: var(--korea-red-dark);
color: var(--korea-white);
text-align: center;
padding: 1.5rem;

}

/* HERO / MAIN CONTAINER */
.hero {
  position: absolute;
  height: 320px;              
  padding: 1rem;

}

img{
  display: block;
  max-inline-size: 100%;
  height: auto;
      
}


/* DARK OVERLAY FOR CONTRAST */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

/* PANELS (CARDS) */
.panel {
position: absolute;
background: var(--panel-bg);
padding: 1rem 1.2rem;
border-radius: var(--panel-radius);
width: 260px;
z-index: 2;
box-shadow: var(--shadow);
}


.panel h2 {
margin-top: 0;
background-color: var(--korea-green);
color: white;
padding: 0.5rem;
border-radius: 6px;

}

/* DATA PANEL */
.data-panel {
  top: 20px;
  left: 20px;
}

/* WEATHER PANEL */
.weather-panel {
  bottom: 20px;
  right: 20px;
}

.weather-icon img {
  width: 48px;
}

/* FOOTER */
footer {
background-color: var(--korea-red);
color:var(--korea-white);
text-align: center;
padding: 1rem;
width: 100%;
}
